name: Build and push HamClock container

on:
  schedule:
    - cron: '0 5 * * 5'
  push:
    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
        
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Login to Docker Container Registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build the Docker image
      run: docker build --file Containerfile --tag ghcr.io/${{ github.repository_owner }}/hamclock:latest --tag ${{ secrets.DOCKER_USERNAME }}/hamclock:latest .
      #my-image-name:$(date +%s)

    - name: Push the Docker image to GitHub Registry
      run: docker push ghcr.io/${{ github.repository_owner }}/hamclock:latest
      
    - name: Push the Docker image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hamclock:latest
